@{
    ViewData["Title"] = "Home Page";
}

<div class="layadmin-tabsbody-item layui-show">
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md8">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header">系统信息</div>
                            <div class="layui-card-body">
                                <div class="layui-carousel layadmin-carousel layadmin-backlog" lay-anim="" lay-indicator="inside" lay-arrow="none" style="width: 100%; height: 280px;">
                                    <div carousel-item="">
                                        <ul class="layui-row layui-col-space10 layui-this">
                                            <li class="layui-col-xs6">
                                                <a lay-href="app/content/comment" class="layadmin-backlog-body">
                                                    <h3>待审核租户</h3>
                                                    <p><cite><label id="lblNeedChecks"/></cite></p>
                                                </a>
                                            </li>
                                            <li class="layui-col-xs6">
                                                <a lay-href="app/forum/list" class="layadmin-backlog-body">
                                                    <h3>已审核租户</h3>
                                                    <p><cite><label id="lblChecked" /></cite></p>
                                                </a>
                                            </li>
                                            <li class="layui-col-xs6">
                                                <a lay-href="template/goodslist" class="layadmin-backlog-body">
                                                    <h3>到期租户</h3>
                                                    <p><cite><label id="lblOntime" /></cite></p>
                                                </a>
                                            </li>
                                            <li class="layui-col-xs6">
                                                <a href="javascript:;" onclick="layer.tips('不跳转', this, {tips: 3});" class="layadmin-backlog-body">
                                                    <h3>注销租户</h3>
                                                    <p><cite><label id="lblUnregist" /></cite></p>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="layui-carousel-ind"><ul><li class="layui-this"></li><li></li></ul></div><button class="layui-icon layui-carousel-arrow" lay-type="sub"></button><button class="layui-icon layui-carousel-arrow" lay-type="add"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header">快捷方式</div>
                            <div class="layui-card-body">
                                <div class="layui-carousel layadmin-carousel layadmin-shortcut" lay-anim="" lay-indicator="inside" lay-arrow="none" style="width: 100%; height: 280px;">
                                    <div carousel-item="">
                                        <ul class="layui-row layui-col-space10 layui-this">
                                            <li class="layui-col-xs3">
                                                <a href="Tenant/Index">
                                                    <i class="layui-icon layui-icon-console"></i>
                                                    <cite>租户管理</cite>
                                                </a>
                                            </li>
                                            <li class="layui-col-xs3">
                                                <a href="Tenant/Process">
                                                    <i class="layui-icon layui-icon-chart"></i>
                                                    <cite>租户状态</cite>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="layui-carousel-ind"><ul><li class="layui-this"></li><li class=""></li></ul></div><button class="layui-icon layui-carousel-arrow" lay-type="sub"></button><button class="layui-icon layui-carousel-arrow" lay-type="add"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header">版本信息</div>
                    <div class="layui-card-body layui-text">
                        <table class="layui-table">
                            <colgroup>
                                <col width="100">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td>当前版本</td>
                                    <td>
                                        <script type="text/html" template="">
                                            v 1.0
                                            <a href="http://fly.layui.com/docs/3/" target="_blank" style="padding-left: 15px;">更新日志</a>
                                        </script> v 1.0
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="layui-card">
                    <div class="layui-card-header">
                        作者心语
                        <i class="layui-icon layui-icon-tips" lay-tips="要支持的噢" lay-offset="5"></i>
                    </div>
                    <div class="layui-card-body layui-text layadmin-text">
                        <p>看了ABP，想通过自己的方式实现一个多租户的系统框架。目标是实现多租户的账户申请、审核、上线功能；实现对多租户的单独进程管理和单独数据库管理。</p>
                    </div>
                </div>
                <div class="layui-card">
                    <ul class="layui-timeline">
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">2018年12月23日，添加代理配置</div>
                            </div>
                        </li>
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">2018年12月22日，开始完善系统和UI</div>
                            </div>
                        </li>
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">2018年12月01日，简单实现理论可行</div>
                            </div>
                        </li>
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">过去</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $.ajax({
            url: 'Tenant\\GetTenantCount?type=0',
            success: function (rs) {
                if (rs && rs.code > 0) {
                    $("#lblNeedChecks").text(rs.data);
                }
            }
        });
        $.ajax({
            url: 'Tenant\\GetTenantCount?type=1',
            success: function (rs) {
                if (rs && rs.code > 0) {
                    $("#lblChecked").text(rs.data);
                }
            }
        });
        $.ajax({
            url: 'Tenant\\GetTenantCount?type=2',
            success: function (rs) {
                if (rs && rs.code > 0) {
                    $("#lblOntime").text(rs.data);
                }
            }
        });
        $.ajax({
            url: 'Tenant\\GetTenantCount?type=3',
            success: function (rs) {
                if (rs && rs.code > 0) {
                    $("#lblUnregist").text(rs.data);
                }
            }
        });
    });
</script>